<!DOCTYPE html>
<html>
    <head>
        <title>login form</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <div class="form">
            <center>
                <form method="post">
                    
                    <input type="text" name="username" placeholder="name" >
                    <input type="phone" name="phone_number" placeholder="ph_no">
                    <input type="email" name="email" placeholder="email">
                    <input type="submit" name="submit" placeholder="submit">
                    
                </form>
            </center>
        </div>           
    </body>
</html>