body{
    background: url('./back.jpg') no-repeat center center fixed; /* Set background image */
    background-size: cover; 
   
}
.form{
    float: left;    
    padding: 20px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white; 
    width: 30%;
    margin: 10% 35% 10% 35%;
}
input{
    float: left;
    width: 70%;
    margin : 5% 0% 5% 15%;
    background-color: transparent;
    padding: 5% 0% 5% 0%;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    transition: border-color 0.3s;
}
input:focus {
    border-width: 3px;
    border-color: red; 
    outline: none;
} 